@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
		<div class="row">
			<div class="col-sm">
				<div class="flex_container">
					<h1 id="colortxt">Tobias Vedå</h1>

					<table class="table table-striped">
						<tr>
							<th>Uke 35</th>
							<th>Mandag</th>
							<th>Tirsdag</th>
							<th>Onsdag</th>
							<th>Torsdag</th>
							<th>Fredag</th>
						</tr>
						<tr>
							<th>08:00</th>
							<td></td>
							<td></td>
							<td class="red_border">FYS129</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>09:00</th>
							<td></td>
							<td></td>
							<td class="red_border">FYS129</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>10:00</th>
							<td></td>
							<td></td>
							<td class="green_border">IKT201</td>
							<td class="red_border">FYS129</td>
							<td class="green_border">IKT201</td>
						</tr>
						<tr>
							<th>11:00</th>
							<td class="yellow_border">IKT203</td>
							<td></td>
							<td class="green_border">IKT201</td>
							<td class="red_border">FYS129</td>
							<td class="green_border">IKT201</td>
						</tr>
						<tr>
							<th>12:00</th>
							<td class="blue_border">IKT202</td>
							<td></td>
							<td class="green_border"><em>IKT201:ø</em></td>
							<td class="red_border"><em>FYS129:ø</em></td>
							<td></td>
						</tr>
						<tr>
							<th>13:00</th>
							<td class="blue_border"><em>IKT202:ø</em></td>
							<td></td>
							<td class="green_border"><em>IKT201:ø</em></td>
							<td class="red_border"><em>FYS129:ø</em></td>
							<td></td>
						</tr>
						<tr>
							<th>14:00</th>
							<td class="blue_border"><em>IKT202:ø</em></td>
							<td class="yellow_border"><em>IKT203:ø</em></td>
							<td class="blue_border">IKT202</td>
							<td class="yellow_border"><em>IKT203:ø</em></td>
							<td></td>
						</tr>
						<tr>
							<th>15:00</th>
							<td></td>
							<td class="yellow_border"><em>IKT203:ø</em></td>
							<td class="blue_border">IKT202</td>
							<td class="yellow_border"><em>IKT203:ø</em></td>
							<td></td>
						</tr>
						<tr>
							<th>16:00</th>
							<td></td>
							<td class="yellow_border"><em>IKT203:ø</em></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					
					<form action="" method="post">
						<ol class="form-group">
							<li><input type="text" placeholder="Input tekst" class="form-control"/></li>
							<br />
							<li>
								<label for="radio1">Valg 1:</label>
								<input type="radio" id="radio1" name="btn"  checked="checked" class="form-check-input"/>
								&nbsp;
								<label for="radio2">Valg 2:</label>
								<input type="radio" id="radio2" name="btn" class="form-check-input"/>
							</li>
							<br />
							<li><input type="submit" value="Send inn" class="btn btn-primary"/></li>
						</ol>
					</form>

					
					<p>
						<strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Etiam non lorem ipsum. Mauris malesuada tincidunt porttitor. Aliquam et accumsan ante, in accumsan tellus. Fusce non justo cursus, egestas risus et, sodales ex. Ut vulputate vestibulum augue. Pellentesque ultrices mauris velit, sit amet aliquet dui bibendum quis. Morbi ipsum ex, finibus in imperdiet at, eleifend non enim. Aenean pulvinar vitae justo quis iaculis.  Proin porttitor urna vitae volutpat egestas. Donec laoreet orci nec velit maximus, ac condimentum quam commodo. Suspendisse ullamcorper, libero sed molestie posuere, eros odio vestibulum mi, maximus porttitor leo mauris nec orci. Nullam dapibus faucibus libero in ullamcorper. Praesent mattis, diam in porta mollis, magna felis mollis turpis, eu scelerisque lectus enim ut quam. Sed at pellentesque nibh, vitae dignissim mi. Vestibulum pretium tempus mauris, in ultrices felis tempor ac. Aenean eget ligula nisl. Etiam nunc ante, sodales non laoreet vel, molestie vitae nunc. Curabitur a metus mi. Praesent neque diam, tristique sollicitudin elit vitae, tempor vehicula turpis. Vestibulum lacus metus, hendrerit eu mattis sit amet, gravida non nulla.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Etiam in ornare mi. Donec laoreet mi eget nibh auctor, non porttitor odio malesuada. Cras nec gravida risus, ac placerat orci. Etiam sem nisi, semper id erat ac, consectetur pretium odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In suscipit rutrum dapibus. Nullam facilisis, diam quis efficitur maximus, risus lacus fringilla ante, et pulvinar tortor massa at velit. Etiam id blandit justo. Sed tempus, ante pretium tempor tincidunt, nunc magna egestas augue, rhoncus sollicitudin nisl tellus ut neque. Suspendisse laoreet porttitor bibendum. Morbi nisi dolor, hendrerit in maximus imperdiet, luctus in enim. Praesent viverra purus id tempus lobortis. Nunc dapibus ac lacus quis commodo.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Etiam vel nisi a nulla porta commodo. Sed elit tortor, finibus nec porttitor quis, ullamcorper sit amet tortor. Aenean tempor odio ac nisl maximus pretium. Mauris consequat ligula sem, non pharetra mauris auctor nec. Sed feugiat vestibulum volutpat. Sed facilisis tellus volutpat, pharetra tellus vel, porta massa. Praesent maximus venenatis nulla ac tincidunt. Etiam vitae nulla non quam sagittis tempor nec in nisi. Proin non cursus ipsum. Nulla a gravida ipsum. Nulla et dolor at neque feugiat dictum. Aenean ante diam, feugiat ut auctor vel, hendrerit non nibh. Donec pretium nibh sit amet turpis laoreet, eu imperdiet lacus ornare. In vel mi nunc. Quisque sollicitudin pellentesque orci, non fringilla leo auctor ut.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Suspendisse pulvinar orci sit amet nisi rutrum mattis. Nunc fermentum neque felis, vitae fermentum purus laoreet sit amet. Donec in ultricies orci. Maecenas tempus est ut diam sodales feugiat. Vestibulum iaculis tempus arcu id interdum. Vivamus at purus ut lectus tempus ultrices vitae sollicitudin tellus. Integer quis eros nunc. Ut et ex sodales, fringilla odio et, finibus leo. Mauris sem ex, tincidunt eget auctor quis, molestie non metus. Mauris porttitor elit at odio iaculis, a lacinia magna aliquam. Cras porttitor justo ornare nisl pharetra, vitae facilisis dolor lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
					</p>
				</div>
			</div>

			<div class="col-sm">
				<div class="flex_container">
					<img src="img/img.jpg" class="image" />

					<h2><strong>Interesser</strong></h2>
					<h3>
						<ul>
							<li>IKT201 Internettjenester</li>
						</ul>
					</h3>
				</div>
			</div>
		</div>
	</body>
</html>
